@import '../../styles/variables.scss';

.preview {
  background: $white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  max-width: 57rem;
  width: 100%;
  max-height: 80vh;
  overflow: auto;
  box-shadow: $box-shadow2;
  z-index: 5;
  padding: 4rem;

  &::-webkit-scrollbar {
    width: 0px;
  }

  &:hover {
    transform: translate(-50%, -50%) scale(1);
  }

  span {
    font-weight: 600;
    font-size: 1.4rem;
    position: absolute;
    top: 2%;
    left: 2%;
  }
}

.card-content {
  background-color: $grey;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  padding: 2.5rem;

  &__sender-img {
    border-radius: 50%;
  }

  h4 {
    font-weight: 700;
  }

  h4,
  h6 {
    text-align: center;
  }

  p {
    font-size: 1.6rem;
  }

  div {
    @include flex(column, center, center);
  }

  &__title {
    margin-bottom: 2rem;
  }

  &__gift {
    margin-top: 2rem;
    border-top: 1px solid $grey1;
    padding-top: 1rem;
    h6 {
      margin-bottom: 1rem;
      font-weight: 600;
    }
  }

  &__reply {
    margin-top: 1rem;
    @include flex(row, center, center);
  }
}

@media (max-width: 650px) {
  .preview {
    width: 95%;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
  }
}
