@import '../../styles/variables.scss';

.signin {
  @include flex(column, flex-end, normal);
  max-width: 45rem;
  width: 100%;
  row-gap: 1.5rem;

  &__input {
    @include flex(column, flex-start, flex-start);
    width: 100%;

    &__el {
      width: 100%;
    }
  }

  &__submit {
    @include flex(column, flex-end, flex-end);
  }

  &__actions {
    ul {
      @include flex(column, flex-start, flex-start);
      row-gap: 1rem;
    }

    a {
      font-weight: 500;
      font-size: 1.5rem;
    }
    &__forgotpw {
      border-bottom: 2px solid $grey1;
    }
  }
}
