@import '../../../styles/variables.scss';

.file {
  @include flex(row, flex-start, center);
  &__input {
    display: none;
  }

  &__label {
    cursor: pointer;
    background: $gradient3;
    border-radius: $border-radius;
    padding: 1.1rem 3.5rem;
    font-weight: 700;
    @include flex(row, center, center);
    transition: all 0.5s ease-in-out;
    max-width: fit-content;
  }

  &__img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 0.5rem;

    &--existing {
      margin-right: 0.5rem;
    }
  }
}
