@import '../../styles/variables.scss';

.activation {
  @include flex(column, center, center);
  padding: 0 1rem;

  &__wrapper {
    max-width: 60rem;
    width: 100%;
  }

  &__progress {
    text-align: center;
  }

  h1 {
    text-align: center;
    margin: 2rem 0 1rem 0;
  }
}
